@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #c3, #item-2:checked ~ .cards #c1, #item-3:checked ~ .cards #c2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #c2, #item-2:checked ~ .cards #c3, #item-3:checked ~ .cards #c1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #c1, #item-2:checked ~ .cards #c2, #item-3:checked ~ .cards #c3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  
}
img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }

.desc {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.course-info {
  width: calc(100% - 32px);
  display: block;
}

.course-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.duration, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .desc #test {
  transform: translateY(0);
}

#item-2:checked ~ .desc #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .desc #test  {
  transform: translateY(-80px);
}

  .page {
    margin: 20px 0;
    
    background: url("https://th.bing.com/th/id/R.4359af02154389825a13b57a2c7d8fbe?rik=3MGFGhx4TK0D3g&pid=ImgRaw&r=0&sres=1&sresct=1") no-repeat center center fixed;
  }
  
  .page:after {
    content: "";
    display: table;
    clear: both;
   
  }
  
  .wrapper {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    min-height: 600px;
    
  }
  
  .content-wrapper {
    float: left;
    width: 100%;
    
  }
  
  .content {
    margin-right: 320px;
    clear: both;
    overflow: auto;
    background: #ad8585;
    background: rgba(143, 61, 61, 0.4);
    min-height: 1000px;
    text-align: justify;
    padding: 4px 4px;
  }
   h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
   }
  h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .sidebar {
    position: relative;
    width: 320px;
    margin-left: -320px;
    float: right;
    overflow: hidden;
    background: #2c3e50;
    background: rgba(44,62,80, 0.4);
    color: #eee;
    min-height: 1000px;
  }
  @media only screen and (max-width: 768px) {
    .sidebar {
      display: none;
    }
    .content {
      margin-right: 0;
    }
  }
  nav {
    overflow: hidden;
  }
  
  nav a {
    float: left;
    display: block;
    color: rgb(34, 34, 136);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size  :17px;
    font-family: helvetica;
    letter-spacing: 2px;
  }
  nav li,
nav ul {
  list-style: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}