<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="left1">
       <a class = "navbar-brand" href="index.html"><img src="assets/images/gurukul_yellow1.png" width="100px" height="100px" style="padding-top:10px" style="padding-bottom:10px"></a>
</div>
<div class="col-md-12">
    <div class="card mt-8 p-3 shadow">
                <img src="https://cdn-icons-png.flaticon.com/128/456/456212.png" height="10" width="15" alt="">
                <h3>Hello {{data.firstname}},</h3>
                <p>Email: {{data.email}}</p>
                <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
    </div>
</div>
    


<!-- The sidebar -->


<div class = "main">

 <div class="left">
    <div class="sidebar">
        <a routerLink="sdashboard"><i class="fa fa-fw fa-home"></i> Dashboard</a>
        <a routerLink="sprofile"><i class="fa fa-fw fa-user"></i> Profile</a>
        <a routerLink="sgrade"><i class="fa fa-fw fa-graduation-cap"></i> Grade</a>
        <a routerLink="smessages"><i class="fa fa-fw fa-envelope"></i> Messages</a>
        <a routerLink="ssettings"><i class="fa fa-fw fa-wrench"></i> Settings</a>
    </div>
 </div>
 <div class="right">
       <router-outlet></router-outlet>
 </div>
</div>

 
 



