
<div class="left1">
       <a class = "navbar-brand" href="index.html"><img src="assets/images/gurukul_yellow1.png" width="100px" height="100px" style="padding-top:10px" style="padding-bottom:10px"></a>
</div>
<div class="col-md-12">
    <div class="card mt-8 p-3 shadow">
                <h3>Hello {{data.firstname}},</h3>
                <p>Email: {{data.email}}</p>
                <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
    </div>
</div>
    
<div class = "main">

 <div class="left">
    <img src="https://cdn-icons-png.flaticon.com/128/864/864685.png" height="10" width="15" alt="">
    <a routerLink="sdashboard">Dashboard</a>
    <br>
    <img src="https://cdn-icons-png.flaticon.com/128/456/456212.png" height="10" width="15" alt="">
    <a routerLink="sprofile">Profile</a>
    <br>
    <img src="https://cdn-icons-png.flaticon.com/128/70/70035.png" height="10" width="15" alt="">
    <a routerLink="sgrade">Grade</a>
    <br>
    <img src="https://cdn-icons.flaticon.com/png/128/542/premium/542689.png?token=exp=1659515416~hmac=5dae7c1b3ffc5e1ed66d4bf8f661ac5a" height="10" width="15" alt="">
    <a routerLink="smessages">Messages</a>
    <br>
    <img src="https://cdn-icons-png.flaticon.com/128/3524/3524659.png" height="10" width="15" alt="">
    <a routerLink="ssettings">Settings</a>
    
</div>
    <div class="right">
       <router-outlet></router-outlet>
    </div>
</div>

 
 



