<div class="col-sm-9">
    <div>
        <h2> New Video</h2>
        <form #form="ngForm" class="well">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" required name="title" ngModel>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input type="text" class="form-control" required name="url" ngModel>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" required name="description" ngModel>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Save</button>
            <br><br>
        </form>
    </div>
</div>


<button style="margin-bottom: 2 px;" type="button" class="btn btn-success btn-block"> +New Video</button>