
  <mat-card class="card">
    <mat-card-header>
      <!-- <div mat-card-avatar>
         <img src="https://www.seekpng.com/png/detail/966-9665493_my-profile-icon-blank-profile-image-circle.png" alt="">
      </div> -->
      <mat-card-title>
        {{data.firstname}} {{data.lastname}}
      </mat-card-title>
      <mat-card-subtitle> PROFILE</mat-card-subtitle>
      
    </mat-card-header>
    <img src="https://th.bing.com/th/id/R.9d49d8c751a354475fee49bbd877fecf?rik=Gm2wixzvs5YQIQ&pid=ImgRaw&r=0" alt="img" width="70" height="70" class="rounded-circle"><br><br>
    <mat-card-content>
      <P> First name : {{data.firstname}}</P><br>
      <P> Last name : {{data.lastname}}</P><br>
      <p> Email ID : {{data.email}}</p><br>
      <p>  Course : {{data.course}}</p><br>
      <p> Preferred Language : English</p> <br><br>
    </mat-card-content>
  </mat-card>

