<div class="divhome">
  <img src="assets/images/gurukul_yellow1.png" alt="logo">
</div>
<div class="main">
  <ul class="cards" *ngFor="let data of courseArray">
    <li class="cards_item">
      <div class="card">
        <img class="card_image" [src]="data.image">
        <div class="card_content">
          <h2 class="card_title">{{data.name}}</h2>
          <h3 class="card_title">{{data.duration}}</h3>
          <p class="card_text">{{data.description}}</p>
          <button class="btn btn-outline-danger" (click)="apply()">Apply</button>
          <!-- <button class="btn card_btn"><a routerLink="/courses">Read More</a></button> -->
        </div>
      </div>
    </li>
  </ul>
</div>