
  
  
  
    <h2>TRAINER LIST</h2>
     <div style="overflow-x:auto;">
    <table>
        <tr>
          <th>Name</th>
          <th>Course</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let data of trainerArray">
          <td>{{data.firstname}}</td>
          <td>{{data.course}}</td>
          <td>{{data.email}}</td>
          <td><button class="btn" (click)="removeTrainer(data._id)">remove</button></td>
        </tr>
      </table>
    </div><br>
    <div  style="text-align:center;">
      <button  class="btn btn-primary" routerLink="/addtrainer">Add Trainer</button>
    </div>
  <!-- </div> -->