
<div class="divhome">
  <button id="bt1" class="btn btn-outline-danger" (click)="logout()">Logout</button>
  <button id="bt2" class="btn btn-outline-danger" routerLink="/admprofile">Back</button>
  <h1>HELLO ADMIN !!!</h1>
<img src="assets/images/admin1.jpg" alt="logo"> 

  </div>
  
  <div>
    <h2>TRAINER LIST</h2>
    <div style="overflow-x:auto;">
    <table>
        <tr>
          <th>Name</th>
          <th>Course</th>
          <th>Email</th>
          <th>Add</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let data of trainerArray">
          <td>{{data.firstname}}</td>
          <td>{{data.course}}</td>
          <td>{{data.email}}</td>
          <td><button class="btn" >Add</button></td>
          <td><button class="btn">remove</button></td>
        </tr>
      </table>
    </div>
  </div>