
  
  
  
    <h2>TRAINER LIST</h2>
     <div style="overflow-x:auto;">
    <table>
        <tr>
          <th>Name</th>
          <th>Course</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let data of trainerArray| paginate:{id:'listing_pagination',
        itemsPerPage:7,
        currentPage:page,
        totalItems:totalRecords}">
          <td>{{data.firstname}}</td>
          <td>{{data.course}}</td>
          <td>{{data.email}}</td>
          <td><button class="btn" (click)="removeTrainer(data._id)">remove</button></td>
        </tr>
      </table>
    </div><br>
    <div  style="text-align:center;">
      <button  class="btn btn-primary" routerLink="/addtrainer">Add Trainer</button>
    </div><br>
    <div style="text-align:center;position:relative;">
      <pagination-controls id="listing_pagination" [maxSize]="5" [directionLinks]="true" (pageChange)="page=$event"></pagination-controls>
    </div>
  