<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
       <img src="https://static.vecteezy.com/system/resources/previews/000/550/731/original/user-icon-vector.jpg" alt="img" width="30" height="30" class="rounded-circle">
        <h3>Hello,{{data.firstname}}</h3>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
</nav>
<div class="main">
    <div class="left">
       <div class="sidebar">
                    <a routerLink="/trnprofile" class="nav-link align-middle px-0">
                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                    </a>
                    <a routerLink="assignments" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-list-check"></i> <span class="ms-1 d-none d-sm-inline">Assignments</span> 
                    </a>
                    <a routerLink="exams" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-vector-pen"></i> <span class="ms-1 d-none d-sm-inline">Exams</span>
                    </a>
                    <a routerLink="feedbacks" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                        <i class="fs-4 bi-envelope-fill"></i> <span class="ms-1 d-none d-sm-inline">Feedbacks</span>
                    </a>
                    <a routerLink="tcourse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-book"></i> <span class="ms-1 d-none d-sm-inline">Courses</span> 
                    </a>
                    <a routerLink="tstudent" data-bs-toggle="collapse" class="nav-link px-0 align-middle">

                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Students</span> </a>
                
                
                    <a routerLink="tprofile" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Profile</span> </a>
            
                

                    

                    <a  data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-person-dash"></i> <span class="ms-1 d-none d-sm-inline" (click)="logout()">Logout</span> 
                    </a>
        </div>            
    </div>
    <div class="right">
          <router-outlet></router-outlet>
    </div>
</div>