<div>
    <h2>Student List</h2>
</div>
<table>
    <tr>
      <th>name</th>
      <th>Course</th>
      <th>Email</th>
      <!-- <th>action</th> -->
    </tr>
    <tr *ngFor="let data of studentArray">
      <td>{{data.firstname}}</td>
      <td>{{data.course}}</td>
      <td>{{data.email}}</td>
      <td><button class="btn" (click)="removeStd(data._id)">remove access</button></td>
    </tr>
  </table><br>
<div style="text-align:center ;">
    <button class="btn btn-primary" routerLink="/addstudent">Add Student</button>
</div>