th, td {
    padding: 15px;
    text-align: left;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  tr:nth-child(even){background-color: #f2f2f2}
  .btn {
    /* background-color: #ddd; */
    color: black;
    text-align: center;
    transition: 0.3s;
  }
  .btn:hover {
    background-color:red;
    color: white;
  }