<div class="bg-image">
  <div class="center">
    <mat-tab-group style="border:1px solid;background: rgb(235, 247, 241);border-radius: 0.7rem;">
      <mat-tab id="lb" label="LOGIN">
        <mat-card class="login-card">
           <!-- <form #loginForm="ngForm" (ngSubmit)="loginForm.valid&&loginUser(loginForm)"> -->
          <form data-aos="fade-up" #loginForm="ngForm" (ngSubmit)="loginForm.valid">
            <br>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email ID" type="email" required #useremail="ngModel" name="useremail"
                [(ngModel)]="user.useremail" pattern="^[a-z0-9,%+]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <mat-error *ngIf="loginForm.submitted&&useremail.errors?.['required']">Email Required</mat-error>
              <mat-error *ngIf="loginForm.submitted&&useremail.errors?.['pattern']">Email ID is invalid</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="12345" #password="ngModel" minlength="6" required name="password"
                [(ngModel)]="user.password" [type]="hide?'password':'text' ">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.submitted&&password.errors?.['required']">Password required</mat-error>
              <mat-error *ngIf="loginForm.submitted&&password.errors?.['minlength']">Password minimum length is 6
              </mat-error>
            </mat-form-field>
            <div style="text-align: center;">
              <button mat-raised-button color="primary" style="text-align:center">Login</button>
            </div>
          </form><br>
          <a routerLink="/signup">Create an Account?</a>
        </mat-card>
      </mat-tab>