<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
  <div class="card">
    <img src="https://cdn-icons-png.flaticon.com/512/2000/2000860.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a routerLink="sdashboard" class="card-title">Course</a>
    </div>
  </div>
  </div>
  <div class="col mb-4">
  <div class="card">
    <img src="https://cdn-icons-png.flaticon.com/512/2977/2977670.png" class="card-img-top"  alt="">
    <div class="card-body">
      <a routerLink="sgrade">Feedback</a>
    </div>
  </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/7381/7381253.png" class="card-img-top"  alt="...">
      <div class="card-body">
        <a routerLink="sprofile">Profile</a>
      </div>
    </div>
  </div>
    <div class="col mb-4">
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/1292/1292761.png" class="card-img-top"  alt="">
      <div class="card-body">
        <a routerLink="ssettings">Settings</a>
      </div>
    </div>
    </div>







    
  






    
 

    


