
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      User Details
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="button">Edit Profile</button></li>
      <li><button class="dropdown-item" type="button">e-mail address</button></li>
      <li><button class="dropdown-item" type="button">City</button></li>
      <li><button class="dropdown-item" type="button">Country</button></li>
    </ul>
  </div>
  <div class="column">
    <div class="card">
       <img src="https://cdn-icons-png.flaticon.com/128/70/70035.png" height="40" width="55" alt="">
      <a>Last Accessed Course</a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/2000/2000860.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a routerLink="scourses" class="card-title">Course</a>
      </div>
    </div>
    </div>
  </div>