th, td, tr {
    padding: 15px;
    text-align: left;
  }
  table {
    /* border-collapse: collapse; */
    /* border-spacing: 0; */
    width: 100%;
    /* border: 1px solid #ddd; */
  }
  tr:nth-child(even){background-color: #f2f2f2}