<!-- <div>
    <div class="main">
        <ul class="cards" *ngFor="let data of courseArray">
          <li class="cards_item">
            <div class="card">
              <img class="card_image" [src]="data.image">
              <div class="card_content">
                <h2 class="card_title1">{{data.name}}</h2>
                <h3 class="card_title">{{data.course}}</h3>
                <p class="card_text">{{data.description}}</p>
              </div>
            </div>
          </li>
        </ul>
    </div>
</div> -->