<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Our Office</h4>
                <ul>
                    <li>Gurukula</li>
                    <li>10th Floor</li>
                    <li>ABC Towers</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>About Us</h4>
                <ul>
                    <li>Gurukula is an institute </li>
                    <li>for imparting skills to the youths </li>
                    <li>and improve their employability opportunities in the Industry.</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li>info.gurukula@gmail.com</li>
                    <li>Reach us @ </li>
                    <li>9999999999</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>