<div class="divhome">
  <button id="bt1" class="btn btn-outline-danger" (click)="logout()">Logout</button>
  <button id="bt2" class="btn btn-outline-danger" routerLink="/admprofile">Back</button>
  <h1>HELLO ADMIN !!!</h1>
<img src="assets/images/admin1.jpg" alt="logo"> 
  </div>
  <button id="btn3" class="btn btn-primary"routerLink="/addstudent">Add Student</button>
  <div>
    <br><br>
    <h2>STUDENT LIST</h2>
    <table>
        <tr>
          <th>name</th>
          <th>Course</th>
          <th>Email</th>
          <th>action</th>
        </tr>
        <tr *ngFor="let data of studentArray">
          <td>{{data.firstname}}</td>
          <td>{{data.course}}</td>
          <td>{{data.email}}</td>
          <td><button class="btn" (click)="removeStd(data._id)">remove access</button></td>
        </tr>
      </table>
  </div>